#title{
  margin: 2%;
}

.list_item{
  padding: 1%;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.list_item-image{
  height: 100px;
}

.list_item-caption{
  display: block;
}
